.hero {
    width: 100%;
    height: 99vh;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_text {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.hero_text h1 {
    font-size: 2rem;
    font-weight: 600;
    color: black;
}

.hero_text p {
    font-size: 1.3rem;
    color: black;
    padding: 0.5rem 0 2rem 0;
}

.hero_text .show {
    text-decoration: none;
    background-color: black;
    padding: 0.6rem 1.1rem; /* Adjusted padding for larger screens */
    border-radius: 12px;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

/* About Component */
.hero-about {
    width: 100%;
    height: 90vh;
    position: relative;
}

.hero-about h1 {
    color: white !important;
    text-align: right;
}

/* Services Component */
.hero-Services {
    width: 100%;
    height: 80vh;
    position: relative;
}

/* Appointments Component */
.hero-Appointment {
    width: 100%;
    height: 90vh;
    position: relative;
}

.hero-Appointment h1 {
    color: white !important;
}

/* Contact Component */
.hero-Contact {
    width: 100%;
    height: 90vh;
    position: relative;
}

.hero-Contact h1 {
    color: white !important;
}

/* Make the components responsive */
@media screen and (max-width: 555px) {
    .hero_text {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; /* Center align text on smaller screens */
    }

    .hero_text h1 {
        font-size: 1.5rem; /* Adjusted font size for smaller screens */
    }

    .hero_text p {
        font-size: 1rem; /* Adjusted font size for smaller screens */
        padding: 0.5rem 0 1.5rem 0; /* Adjusted padding for smaller screens */
    }

    .hero_text .show {
        padding: 0.6rem 1rem; /* Adjusted padding for smaller screens */
        font-size: 0.9rem; /* Adjusted font size for smaller screens */
    }
    img {
        height: 100%;
        width: 100%; /* Allow the width to adjust based on the image aspect ratio */
    }
}