.carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
  }
  
  .carousel-logo {
    max-width: 30%; /* Adjust the maximum width of each logo */
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    margin: 0 5px; /* Adjust the margin between logos */
  }
  