.profile-pic{
  margin-top: 1rem;
  margin-right: 15rem;
  text-align: center;
}
.profile-image,
.default-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid black;
}
.welcome-note {
  text-align: center;
  margin-top: -35rem; /* Adjust this margin as needed */
   }
  .welcome-note h2{
    font-size: 3rem;
    margin-left: -21rem;
  }

  /*========================== update profile component css============================= */


.profileform form{
    margin-top: -13rem;
    margin-bottom: 6rem;
    border: solid black;
    width: 25rem;
    height: 28rem;
    margin-left: 65rem;
    margin-right: auto;
    background-color: rgb(208, 209, 211);
    
}
    .profileform h1{
      margin-bottom: 2rem;}


    .profileform input{
      width: 15rem;
      border: solid black;}

    .profileform span input{
         /* margin-left: 35rem; */
         width: 15rem;
    }
    .file{
      margin-left: -2rem;
      margin-bottom: 2rem;
      border: 4px solid black;
      width: 15rem;
    }
    .profileform h4{

      margin-right: 4rem;
      font-size: 1.5rem;
    }
    .profileform input::placeholder{
      color: black;}

    .profileform  button{
      border-radius: 1px;
      background-color: black;
      color: white;
      /* margin-left: 35rem; */
    }

    .profileform  button:hover{
      background-color: white;
      color: black;}

    