.profileform{
    margin-top: -39rem;
    margin-bottom: 6rem;
}
    .profileform h1{
      margin-bottom: 2rem;}
    .profile-image {
      width: 200px;
      height: 200px;
      border-radius: 50%; /* Creates a circular shape */
      object-fit: cover; /* Preserve aspect ratio and cover container */
      border: 2px solid black; /* Add a border if desired */
    }

    .default-avatar{
      width: 200px;
      height: 200px;
      border-radius: 50%; /* Creates a circular shape */
      object-fit: cover; /* Preserve aspect ratio and cover container */
      border: 2px solid black; 
      margin-bottom: 4rem;
      /* margin-left: 13rem; */

    }
    

    .profileform input{
      width: 15rem;
      border: solid black;}

    .profileform span input{
         margin-left: 3rem;
    }
    .file{
      margin-left: -2rem;
      margin-bottom: 2rem;}
    .profileform h4{

      margin-right: 4rem;
      font-size: 1.5rem;
    }
    .profileform input::placeholder{
      color: black;}

    .profileform  button{
      border-radius: 1px;
      background-color: black;
      color: white;
    }

    .profileform  button:hover{
      background-color: white;
      color: black;}

    