.cntct {
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
  padding-bottom: 4rem;
}

.Cleft {
  width: 35rem;
  padding: 50px;
  margin: 20px;
  height: 35rem;
  border: 5px solid black;
}

.Cleft h2 {
  text-align: start;
  font-size: 2.2rem;
}

.form-container {
  margin: 2rem;
  color: black;
  align-items: start;
  width: 50%; /* Adjust the width as needed */
}

.form-container form {
  padding-top: 0rem;
  display: flex;
  flex-direction: column;
  margin: 0rem;
}

.form-container input,
.form-container textarea {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 20rem;
  border: 1px solid black;
}

.form-container button {
  display: inline;
  border-radius: 1rem;
}

.Cright {
  flex: 1;
  position: relative;
  padding-top: 2rem;
}

.Cright h1 {
  text-decoration: underline;
  margin-left: 14rem;
}

.Cright h2,
.Cright h3 {
  margin-top: 2rem;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-left: 14rem;
}

.Cright p {
  font-size: 1.35rem;
  margin-left: 14rem;
}

.Cright img {
  width: 14rem;
  height: 14rem;
  position: relative;
  margin-top: 1rem; /* Adjust the margin as needed */
  margin-left: 14rem; /* Adjust the margin as needed */
  border: solid 13px;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .form-container {
    margin: 4rem 2rem;
    color: black;
    width: 90%;
  }
  
  .form-container form {
    padding-top: 2rem;
  }

  .Cright img {
    margin-left: 0; /* Adjust the margin as needed for smaller screens */
  }
}
