/*--------------------addform stylings------------------- */
.addform{margin: 2rem;}
  .addform form{
    margin-left: 23rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: white;
    border: solid black;}

.addform input{
    width: 25rem;
    margin-left: 6rem;
    border: solid black;}

.addform input::placeholder {
    color: black
  }
  

.addform textarea{
    width: 25rem;
    margin-top: 1rem;
    margin-left: 6rem;
    border: solid black;
    padding: 1rem;
    margin-bottom: 1rem;
     }
    .addform textarea::placeholder {
        color: black;
      }

.addform button{
    width: 15rem;
    border-radius: 1px;
    margin-left: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: gray;}


   

    .close-icon{
    content: 'x';
    cursor: pointer;
    position: absolute;
    margin-left: 35rem;
    margin-top: -21rem;
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    z-index: 999;
    }

/*====================================== feedback form stylings============================================= */

    