.Dashbaord-grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      'sidebar header header header'
      'sidebar main main main';
    height: 100vh;
  }
  .icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
  }
  .icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
  }
  .icon, .icon_header {
    margin-right: 5px;
  }
  
  .close_icon {
    color: red;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
  }

  /* ===========Home stylings=============== */
  .main-container-div {
    /* grid-area: main; */
    overflow-y: auto;
    color: rgba(255, 255, 255, 0.95);
    margin-top: 0.75rem;
    margin-left: 2rem;
    height: 20.9rem;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    margin: 15px 0;
   
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
    width: 15rem;
}
  
  .card:first-child {
    background-color:  #4a4a40;
    color: white;
  }
  
  .card:nth-child(2) {
    background-color: navy;
    color: white;
  }
  
  .card:nth-child(3) {
    background-color: #a7c8a7;
    color: white;
  }
  
  .card:nth-child(4) {
    background-color:  #8b0000;
    color: white;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    margin-left: -23rem;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
  }
  .card-inner h3{
    color: white;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;}


    