.BS
{
    padding-top: 2rem;
}
.heading
{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    background-color: var(--lightgray);
    height: 3rem;

}
.img{
    height: 470px;
    width: 880px;
    margin-left: 2rem;
    
}
.img:hover{
    cursor: pointer;

}
.BS p{
    font-size: 1.25rem;
}

#list
{
    /* font-family: 'Times New Roman', Times, serif; */
    padding: 2rem;
    display: flex;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
font-weight: bold;

}
#list div{
    display: flex;
    flex-direction: column;}

#list li{
    text-decoration: none;
    color: black;
    padding-bottom: 1rem;
     font-size: 0.75rem; }
