.hero-Appointment{
  height: 27rem;
}

.Appleft h3{
  text-decoration: underline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  margin-top: 1rem;
  font-size: 2rem;

}

/* =================FormAppoitment stylings================================ */
.mainbody {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65rem;
  height: 110vh;
  margin-bottom: 4rem;
  margin-top: 1rem;
  margin-left: 15rem;
}

#body {
  max-width: 880px;
  padding: 28px;
  margin: 0 28px;
  box-shadow: 0 15px 20px black;
  border: solid black;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
}

.form2 {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Updated to column for better alignment */
  font-size: 1.5rem;
}
.content label.description {
  margin-top: .5rem;
  margin-left: 1rem;
}


.form2 textarea {
  border-radius: .3rem;
  border: 1px solid black;
  width: 100%; /* Full width */
  margin-top: 1rem;
}

.content input {
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
  width: 100%; /* Full width */
}

.contact {
  margin-top: 1rem; /* Adjusted margin for better spacing */
}

.city {
  margin-top: 1rem; /* Adjusted margin for better spacing */
}

.content button {
  margin-top: 2rem; /* Adjusted margin for better spacing */
  border-radius: 12px;
}

.content button:hover {
  cursor: pointer;
  background-color: navy;
  color: white;
}

/* Animation */
@keyframes move {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}