
/* editting the root in index.js file */
:root {
/* color variables define  */
  --lightgray: #D9D9D9;
  --lightgray-dark: #6e7878;
  --gray: #9c9c9c;
  --black: black;
  --darkGrey:#464D53;
  --signupCard: #656565;
  --bgColor: radial-gradient(black, rgb(234, 223, 223));
  --appColor: #3c3f45;
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

/* edit the app.js file  */
.App {
  mix-blend-mode: overlay;
  background-color: var(--gray); 
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: hidden;
  /* background-image: radial-gradient(50% 50% at top center,rgba(0,0,0,.66),#262626),var(--featured-img); */

}
 
/* disable the scroll option */
/* ::-webkit-scrollbar{
  display: none;
} */

/* this will change the revitalize keyword into transparent */
.stroke-text{
  color:transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
/* buttons used generally so we add css in the app.css file */
.btn{

  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: 4px solid transparent;
  transition: 300ms all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover{
  cursor: pointer;
}

/* @media screen and (max-width: 850px){
  .App{
    min-width: 56rem;
  }
  
} */



